<div class="well pull-left">
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-home"></span> 
  </button>
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-shopping-cart"></span> 
  </button>
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> 
  </button>
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-heart-empty"></span> 
  </button>
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-user"></span> 
  </button>
</div>
