<div ng-controller="ListingCtrl">
  <h1 ng-show="listings.length">Listings</h1>
  <table class="table table-striped" ng-show="listings.length">
    <thead>
      <th>Title</th>
    </thead>
    <tbody>
    <tr ng-repeat="listing in listings">
      <td ng-click="activeListing(listing)">{{listing.title}}</td>
      <td><button class="btn btn-danger" ng-click="delete(listing)">Delete</button></td>
    </tr>
    </tbody>
  </table>
  <h3 ng-if="!editing">New Listing</h3>
  <h3 ng-if="editing">Edit Listing</h3>
  <form ng-submit="save(listing)">
    <input ng-model="listing.title">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    <button ng-if="editing" class="btn btn-success" ng-click="newListing()">New Listing</button>
</div>