<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Bartering App</h3>
  <div ng-controller="ListingCtrl">
    <ul>
      <li ng-repeat="listing in listings">
        <h4>{{listing.title}}</h4>
      </li>
    </ul>
  </div>
  <div ng-controller="ChatCtrl">
    <ul>
      <li ng-repeat="chat in chats">
        <h4>{{chat.userAId}} - {{chat.userBId}}</h4>
        <ul>
          <li ng-repeat="message in chat.messages">
            <h4>{{message}}</h4>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>


