<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Bartering Signup Continued</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
  
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
          <form class="form-signin" id="signupform" role="form">
        <h2 class="form-signin-heading">Complete your Bartering Sign Up</h2>
             <fieldset>
                    <legend>Join the Bunch</legend>
                    <img src="../images/yeoman.png">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Upload Picture<br>
</button>
<button class="btn btn-lg btn-primary btn-block" type="submit">Use Facebook Photo<br>
</button>
                    <p><label for="Birthdate">Birthdate: <input type="text" name="bmonth" id="bmonth" class="form-control" required autofocus>
                    <input type="text" name="bday" id="bday" class="form-control" required autofocus><input type="text" name="byear" id="byear" class="form-control" required autofocus>
                    
                    </label>


                    <p><label for="city">Enter Personal Website (Optional): <input type="text" class="form-control" name="website1" id="website1" size="50"></label></p>
                    <p> <input type="text" class="form-control" name="website2" id="website2" size="50"></p>
             				</fieldset>
         <button class="btn btn-lg btn-primary btn-block" type="submit">I'm Done<br>
</button>

					</form>

        </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
